exclude Manual.txt
include README.md
include CHANGES.txt
include LICENSE.txt
exclude TODO.txt
exclude NOTES.txt


# TODO: add appropriate lines to incude sample data files, something like:
# include sample/*.fits.gz

